/*FIX IMAGE HW*/
.flipper-wrap img {
    height: auto;
 }

.flipper-heading {
  z-index: 100;
  position: relative;
  margin-bottom: 7px;
  min-height: 23px;
  line-height: 20px;
}
.flipper-heading .flipper-title {
  text-transform: uppercase;
  padding-top: 5px;
}
.flipper-heading .flipper-next,
.flipper-heading .flipper-prev {
  cursor: pointer;
  display: block;
  text-align: center;
  margin-left: 5px;
  -webkit-transition: all 0.1s linear 0s;
  -moz-transition: all 0.1s linear 0s;
  -ms-transition: all 0.1s linear 0s;
  transition: all 0.1s linear 0s;
  background-repeat: no-repeat !important;
  position: absolute;
  top: 0px;
  height: 20px;
  width: 20px;
  right: 0px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.flipper-heading .flipper-prev {
  right: 25px;
}
.section-flipper .pl-section-pad {
  overflow: hidden;
  position: relative;
}
.flipper-wrap {
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
}
.flipper-wrap .flipper {
  opacity: 0;
  max-height: 400px;
}
.flipper-wrap .flipper.flipper-loaded {
  max-height: none;
}
.flipper-wrap .flipper-items {
  overflow: hidden;
}
.flipper-wrap .flipper-items > li {
  position: relative;
  display: block;
  float: left;
  margin: 0px 10px 0px 10px;
}
.flipper-wrap .flipper-items > li h3 {
  position: relative;
  top: 0px;
  color: #fff;
  margin-bottom: 10px;
}
.flipper-wrap .flipper-items > li img {
  width: 100%;
  display: block;
  float: left;
  margin-bottom: 0px;
}
.flipper-wrap .flipper-items .flipper-item {
  position: relative;
}
.flipper-wrap .flipper-items .flipper-item .flipper-info-bg {
  opacity: 0;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.flipper-wrap .flipper-items .flipper-item .flipper-info {
  opacity: 0;
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.flipper-wrap .flipper-items .flipper-item .flipper-info .info-text {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 9px 15px;
  color: #fff;
  font-size: 12px;
  line-height: 1.3em;
  margin: 5px;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.flipper-wrap .flipper-items .flipper-item .flipper-info .info-text:hover {
  opacity: 0.8;
}
.flipper-wrap .flipper-items .flipper-item .flipper-info .view,
.flipper-wrap .flipper-items .flipper-item .flipper-info .image,
.flipper-wrap .flipper-items .flipper-item .flipper-info .video {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  text-indent: -9999px;
  color: #fff;
  display: block;
}
.flipper-wrap .flipper-items .flipper-item .flipper-info span {
  top: 0px;
  left: 0px;
  position: absolute;
  display: block;
  height: 42px;
  width: 42px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.flipper-wrap .flipper-items .flipper-item .flipper-info .pl-center {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-align: center;
  margin-top: 60px;
}
.flipper-wrap .flipper-items .flipper-item .flipper-info .pl-center p {
  padding-bottom: 0px;
}
.flipper-wrap .flipper-items .flipper-item:hover .flipper-info {
  opacity: 1;
}
.flipper-wrap .flipper-items .flipper-item:hover .flipper-info .pl-center {
  padding-top: 20px;
}
.flipper-wrap .flipper-items .flipper-item:hover .flipper-info-bg {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.flipper-wrap .flipper-items .flipper-meta {
  padding-top: 10px;
  text-align: left;
}
.flipper-wrap .flipper-items .flipper-meta .flipper-metabar {
  opacity: .6;
}
