/**************************************************************************
*	 Zozo Tabs: Horizontal
*
*    1. Horizontal Structure
*    2. Horizontal Positioning 
*    3. Horizontal Rounded Cornors
     4. Horizontal Shadows
*    
*   Most of the time you shouldn't delete/edit section 1 (structure).
*   - You can delete/edit part of positioning
*   - You can delete/edit rounded and shadows section if you need.
* 
**************************************************************************/


/*#region ==========================================================================
      Horizontal Structure
========================================================================== */

.z-tabs.horizontal > ul > li
{
    float: left;
}

    .z-tabs.horizontal > ul > li.z-active
    {
        background: none;
        z-index: 1;
    }

    .z-tabs.horizontal > ul > li > a
    {
        margin-right: -1px;
        /*font-size: 12px;
        padding: 13px 24px;*/
        min-height: 1px;
    }


    .z-tabs.top-compact > ul > li > a,
    .z-tabs.bottom-compact > ul > li > a
{
    padding-left: 0;
    padding-right: 0;
}

/*top*/
.z-tabs.horizontal.top > ul > li.z-active
{
    top: 2px;
    margin-top: -2px;
    padding-bottom: 2px;
}

.z-tabs.horizontal.top > ul > li > a
{
    top: 1px;
    border-width: 1px 1px 0 1px;
}

.z-tabs.horizontal > ul > li.z-last > a,
.z-tabs.horizontal > ul > li.z-last-col > a
{
    margin-right: 0 !important;
}

.z-tabs.horizontal > .z-container
{
    clear: both;
    zoom: 1;
}


/*#endregion*/


/*#region ==========================================================================
      Horizontal Positioning 
========================================================================== */

/*top-left is the defalt structure above in region*/

/* top-center */
.z-tabs.horizontal.top-center > ul.z-tabs-desktop
{
    clear: left;
    float: left;
    left: 50%;
    text-align: center;
}

    .z-tabs.horizontal.top-center > ul > li
    {
        right: 50%;
    }

/* top-right */
.z-tabs.horizontal.top-right > ul
{
    float: right;
    margin: 0 -1px 0 0;
}

    .z-tabs.horizontal.top-right > ul > li.z-last
    {
        margin-right: 1px;
    }

.ie7 body .z-tabs.horizontal.top-right > ul > li.z-last
{
    margin-right: -1px;
}

.ie7 body .z-tabs.horizontal > .z-container
{
    clear: none;
    width: 100%;
}


/**/
.z-tabs.horizontal.responsive > ul > li > a,
.z-tabs.horizontal.top-compact > ul > li > a,
.z-tabs.horizontal.bottom-compact > ul > li > a,
.z-tabs.horizontal.top-center > ul > li > a,
.z-tabs.horizontal.bottom-center > ul > li > a
{
    text-align: center;
}


/*#endregion*/


/*#region ==========================================================================
     Horizontal Rounded Cornors
========================================================================== */

/*top*/
.z-tabs.horizontal.top.z-rounded > ul > li.z-first,
.z-tabs.horizontal.top.z-rounded > ul > li.z-first > a
{
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    border-radius: 5px 0 0 0;
}

.z-tabs.horizontal.top.z-rounded > ul > li.z-last,
.z-tabs.horizontal.top.z-rounded > ul > li.z-last > a
{
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
}

/*top-left*/
.z-tabs.horizontal.top-left.z-rounded > .z-container
{
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

/*top-center*/
.z-tabs.horizontal.top-center.z-rounded > .z-container
{
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
}

/*top-right*/
.z-tabs.horizontal.top-right.z-rounded > .z-container
{
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* top compact*/
.z-tabs.horizontal.z-rounded.top-compact > .z-container
{
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -khtml-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}


/*responsive*/
.z-tabs.horizontal.responsive.top.z-rounded > .z-container
{
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

.z-tabs.horizontal.responsive.bottom.z-rounded > .z-container
{
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

/*responsive mobile dropdown menu*/
.z-tabs.horizontal.responsive.top.z-rounded > .z-tabs-mobile,
.z-tabs.horizontal.responsive.top.z-rounded > .z-tabs-mobile > li
{
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.z-tabs.horizontal.responsive.bottom.z-rounded > .z-tabs-mobile,
.z-tabs.horizontal.responsive.bottom.z-rounded > .z-tabs-mobile > li
{
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}
/*#endregion*/






