
/*contained*/
.z-tabs.flat.contained.z-spaced.horizontal.top > .z-container  {top:3px;/*padding: 3px 0 0 0;*/}
.z-tabs.flat.contained.z-spaced.horizontal.bottom > .z-container  {margin: 0 0 3px 0;}

/*latest*/
.z-tabs.flat.contained.z-spaced.z-bordered.horizontal.top> .z-container  {padding: 0;top:0;}
.z-tabs.flat.contained.z-spaced.z-bordered.horizontal.bottom > .z-container  {padding:0;margin:0;}

/*contained responsive*/
.z-tabs.flat.responsive.contained.z-spaced.horizontal.top > .z-container  {top:2px;/*padding: 2px 0 0 0;*/}
.z-tabs.flat.responsive.contained.z-spaced.horizontal.bottom > .z-container  {margin: 0 0 1px 0;}

/*#endregion*/

/*top borderd*/
.z-tabs.horizontal.top.flat.z-bordered.mini > .z-container    {border-width: 3px 0 0 0;}
.z-tabs.horizontal.top.flat.z-bordered.small > .z-container   {border-width: 4px 0 0 0;}
.z-tabs.horizontal.top.flat.z-bordered.medium > .z-container  {border-width: 5px 0 0 0;}
.z-tabs.horizontal.top.flat.z-bordered.large > .z-container   {border-width: 5px 0 0 0;}
.z-tabs.horizontal.top.flat.z-bordered.xlarge > .z-container  {border-width: 6px 0 0 0;}
.z-tabs.horizontal.top.flat.z-bordered.xxlarge > .z-container {border-width: 6px 0 0 0;}

/*top*/
.z-tabs.flat.horizontal.top.z-rounded.z-bordered.z-spaced > ul.z-tabs-nav > li > a,
.z-tabs.flat.horizontal.top.z-rounded.z-bordered > ul.z-tabs-nav > li.z-active > a,
.z-tabs.flat.horizontal.top.z-rounded.z-bordered > ul.z-tabs-nav > li:hover > a     { -webkit-border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; }

.z-tabs.flat.horizontal.bottom.z-rounded.z-bordered > ul.z-tabs-nav > li > a,
.z-tabs.flat.horizontal.bottom.z-rounded.z-bordered > ul.z-tabs-nav > li.z-active > a,
.z-tabs.flat.horizontal.bottom.z-rounded.z-bordered > ul.z-tabs-nav > li:hover > a  { -webkit-border-radius: 0 0 3px 3px; -moz-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px; }
/*#endregion*/

