﻿/**************************************************************************
*	 Zozo Tabs: Multiline
*
*    1. Multiline Structure
*    2. Sizes
*    
*   Most of the time you shouldn't delete/edit section 1 (structure).
*   You can delete/edit section sizes if you need.
* 
**************************************************************************/

/*#region ==========================================================================
    Multiline Structure
========================================================================== */
/*
.z-tabs.z-multiline.white > ul > li
{
    opacity: .85;
}*/

    .z-tabs.z-multiline.white > ul > li.z-active,
    .z-tabs.z-multiline.white > ul > li:hover
    {
        opacity: 1;
    }


/**/
.z-tabs.z-multiline > ul > li > a
{
    line-height: 18px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.z-tabs.z-multiline > ul.z-tabs-desktop > li > a.z-link > span,
.z-tabs.z-multiline > ul.z-tabs-mobile > li > a.z-link > span > span
{
    display: block;
    font-size: .9em;
    font-weight: normal;
    text-transform: none;
    line-height: 1.65em;
    opacity: 1;
    margin-top: 0.05em;
    letter-spacing: 0px;
}

.z-tabs.z-multiline > ul.z-tabs-desktop > li > a > span.z-icon,
.z-tabs.z-multiline > ul.z-tabs-mobile > li > a > span > span.z-icon
{
    line-height: 1em;
}

/*#endregion*/




/*#region ==========================================================================
    Sizes
========================================================================== */
/* version 6.0
.z-tabs.z-multiline.mini > ul > li > a  {padding: 12px 28px 12px 12px;height: 32px;}
.z-tabs.z-multiline.small > ul > li > a  {padding: 14px 32px 14px 14px;height: 34px;}
.z-tabs.z-multiline.medium > ul > li > a {padding: 16px 36px 16px 16px;height: 34px;}
.z-tabs.z-multiline.large > ul > li > a  {padding: 17px 40px 17px 17px;height: 36px;}
.z-tabs.z-multiline.xlarge > ul > li > a {padding: 18px 44px 18px 18px;height: 36px;}
.z-tabs.z-multiline.xxlarge > ul > li > a{padding: 18px 48px 18px 18px;height: 38px;}

      
.z-tabs.horizontal.z-multiline.top-compact.mini >  ul > li > a,
.z-tabs.horizontal.z-multiline.bottom-compact.mini >  ul > li > a,
.z-tabs.horizontal.z-multiline.top.responsive.mini >  ul > li > a,
.z-tabs.horizontal.z-multiline.bottom.responsive.mini >  ul > li > a     {padding: 12px}

.z-tabs.horizontal.z-multiline.top-compact.small >  ul > li > a,
.z-tabs.horizontal.z-multiline.bottom-compact.small >  ul > li > a,
.z-tabs.horizontal.z-multiline.top.responsive.small >  ul > li > a,
.z-tabs.horizontal.z-multiline.bottom.responsive.small >  ul > li > a    {padding: 14px}

.z-tabs.horizontal.z-multiline.top-compact.medium >  ul > li > a,
.z-tabs.horizontal.z-multiline.bottom-compact.medium >  ul > li > a,
.z-tabs.horizontal.z-multiline.top.responsive.medium >  ul > li > a,
.z-tabs.horizontal.z-multiline.bottom.responsive.medium >  ul > li > a   {padding: 16px}

.z-tabs.horizontal.z-multiline.top-compact.large >  ul > li > a,
.z-tabs.horizontal.z-multiline.bottom-compact.large >  ul > li > a,
.z-tabs.horizontal.z-multiline.top.responsive.large >  ul > li > a,
.z-tabs.horizontal.z-multiline.bottom.responsive.large >  ul > li > a   {padding: 17px}

.z-tabs.horizontal.z-multiline.top-compact.xlarge >  ul > li > a,
.z-tabs.horizontal.z-multiline.bottom-compact.xlarge >  ul > li > a,
.z-tabs.horizontal.z-multiline.top.responsive.xlarge >  ul > li > a,
.z-tabs.horizontal.z-multiline.bottom.responsive.xlarge >  ul > li > a   {padding: 18px;}

.z-tabs.horizontal.z-multiline.top-compact.xxlarge >  ul > li > a,
.z-tabs.horizontal.z-multiline.bottom-compact.xxlarge >  ul > li > a,
.z-tabs.horizontal.z-multiline.top.responsive.xxlarge >  ul > li > a,
.z-tabs.horizontal.z-multiline.bottom.responsive.xxlarge >  ul > li > a {padding: 18px}
*/
    /*#endregion*/


/*#region ==========================================================================
    Colors
========================================================================== */

/*red top border for white.z-bordered theme*/

   /* .z-tabs.z-multiline.white.top > ul > li.z-active {
top: 4px;
margin-top: -3px;
padding-bottom: 4px;
}*/

/*horizontal tabs top lines, change the color of border-top
.z-tabs.horizontal.top.white.z-bordered > ul.z-tabs-desktop > li.z-active > a   {margin-top: -2px;}
.z-tabs.horizontal.top.white.z-bordered > ul.z-tabs-desktop > li.z-active  {border-top: 3px solid #D13636;}*/

/*horizontal tabs bottom lines, change the color of border-bottom
.z-tabs.horizontal.bottom.white.z-bordered > ul.z-tabs-desktop > li.z-active > a   {margin-bottom: -2px;}
.z-tabs.horizontal.bottom.white.z-bordered > ul.z-tabs-desktop > li.z-active  {border-bottom: 3px solid #D13636;}*/



/*remove horizontal tabs top lines on mobile
.z-tabs.horizontal.top.mobile.white.z-bordered > ul.z-tabs-desktop > li.z-active > a   {margin-top: 0;}
.z-tabs.horizontal.top.mobile.white.z-bordered > ul.z-tabs-desktop > li.z-active  {border-top: none}
*/

/*remove horizontal tabs bottom lines on mobile
.z-tabs.horizontal.bottom.mobile.white.z-bordered > ul.z-tabs-desktop > li.z-active > a   {margin-bottom: 0;}
.z-tabs.horizontal.bottom.mobile.white.z-bordered > ul.z-tabs-desktop > li.z-active  {border-bottom: 1px solid #CECECE;}

*/
/*vertical tabs top lines,change the color of border-left and border-right
.z-tabs.vertical.top-left.white.z-bordered > ul.z-tabs-desktop > li.z-active > a {border-left: 3px solid #D13636;}
.z-tabs.vertical.top-right.white.z-bordered > ul.z-tabs-desktop > li.z-active > a {border-right: 3px solid #D13636;}*/

/*remove vertical tabs top lines on mobile
.z-tabs.vertical.mobile.top-left.white.z-bordered > ul.z-tabs-desktop > li.z-active > a,
.z-tabs.vertical.mobile.top-right.white.z-bordered > ul.z-tabs-desktop > li.z-active > a {border-left:inherit}*/


/*#endregion*/

